@charset "UTF-8";
@font-face {
  font-family: 'Gotham bold';
  src: url("../fonts/Gotham-Bold.otf"), url("../fonts/GothamBold.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham light";
  src: url("../fonts/Gotham-Light.otf") format("woff2"), url("../fonts/GothamLight.ttf") format("truetype");
}

@font-face {
  font-family: "HelvNeue";
  src: url("../fonts/helvetica-neue.ttf") format("truetype");
}

@-webkit-keyframes slideInFromTop {
  0% {
    -webkit-transform: translateY(240%);
            transform: translateY(240%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInFromTop {
  0% {
    -webkit-transform: translateY(240%);
            transform: translateY(240%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

:root {
  font-size: 13px;
}

header, .first-section, .first-section-left, .search-content, .categories, .categorie, .hot-promo, .trending,
.suggestion, .course-box .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categorie, .course-box, main > form .search {
  border: 1px solid rgba(0, 0, 0, 0.075);
}

.first-section h1, .search-content, .categorie-svg, .hot-ads, .hot-promo-video-n-text, .course-box img, .add-to-cart {
  width: 100%;
}

.star {
  display: block;
}

.star::before {
  content: "★★★★★";
  color: #F7BB56;
  margin-right: 5px;
}

html,
body {
  height: 100%;
  color: #383838;
  font-family: "Gotham light", 'Times New Roman', Times, serif;
}

h1,
h2,
h3 {
  font-family: "Gotham bold", Arial, Helvetica, sans-serif;
}

h4,
h5,
h6 {
  font-family: "HelvNeue", 'Times New Roman', Times, serif;
}

body {
  background-color: #f9fbfd;
}

header {
  height: 60px;
  padding: 10px 20px;
  background-color: #d35266;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header a {
  color: #fff;
}

header a:hover {
  text-decoration: none;
  color: #fff;
}

header .logo {
  margin-left: 5px;
}

header .login {
  border: none;
  border-radius: 10px;
}

/* WORKING ON HEADER */
.logo a {
  height: 40px;
  background: url("../img/logo.png") no-repeat;
  display: block;
  width: 40px;
  background-size: contain;
}

.cart-list svg {
  height: 30px;
  fill: white;
}

/* WORKING ON FIRST SECTION */
.first-section {
  padding: 20px 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9dc5c3;
  background-image: linear-gradient(315deg, #5e5c5c 0%, #7aadab 74%);
  height: 300px;
  border-radius: 10px;
  margin: 40px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  overflow: hidden;
}

.first-section h1 {
  font-size: 1.5rem;
}

.first-section h3 {
  font-size: 0.9rem;
}

.first-section .logo a {
  width: 200px;
  height: 200px;
  z-index: 1;
  position: relative;
  top: 107px;
  right: -101px;
}

.clouds {
  background: url("https://svgsilh.com/svg/1295100.svg") no-repeat;
  background-size: auto;
  display: block;
  position: relative;
  width: 300px;
  height: 200px;
  z-index: -1;
  background-size: contain;
  top: -20px;
  right: -67px;
  z-index: 0;
  -webkit-animation: 1s ease-out 0s 1 slideInFromTop;
          animation: 1s ease-out 0s 1 slideInFromTop;
}

.first-section-left {
  width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-section-left h1 {
  width: -webkit-fit-content;
  width: fit-content;
  width: -moz-fit-content;
}

.first-section-left .search-content {
  max-width: 300px;
}

.first-section-left .logo, .first-section-left .logo a {
  width: 50px;
  height: 50px;
}

.first-section-left .logo a {
  position: unset;
}

/* WORKING ON SEARCH */
.search-content {
  height: 35px;
  margin: 0 auto;
}

.search {
  padding: 8px 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  width: 57%;
  -webkit-transition: width ease-in 400ms;
  transition: width ease-in 400ms;
  margin-left: auto;
}

.search::-webkit-input-placeholder {
  font-style: italic;
}

.search:-ms-input-placeholder {
  font-style: italic;
}

.search::-ms-input-placeholder {
  font-style: italic;
}

.search::placeholder {
  font-style: italic;
}

.search:focus {
  width: 80%;
  outline: none;
}

.search-button {
  width: 50px;
  height: 100%;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transition: background 200ms linear;
  transition: background 200ms linear;
  margin-right: auto;
}

.search-button:focus {
  outline: none;
}

.search-button svg {
  fill: #414141;
  height: 50%;
  display: block;
  margin: 0 auto;
}

.search-button:hover {
  background: #d7d8d8;
}

/* WORKING ON CATEGORIE */
.categories {
  margin: 40px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categories div {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.categories a:hover:not(.show-all) {
  text-decoration: none;
}

section > h4,
section > .show-all {
  width: 48%;
  color: #383838;
  margin-bottom: 15px;
}

.show-all {
  width: -webkit-fit-content;
  width: fit-content;
  width: -moz-fit-content;
  text-align: end;
  margin-left: auto;
}

.categorie-anchor {
  margin: 5px;
}

.categorie {
  margin: 10px 5px;
  width: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  -webkit-transition: -webkit-transform 70ms ease-in;
  transition: -webkit-transform 70ms ease-in;
  transition: transform 70ms ease-in;
  transition: transform 70ms ease-in, -webkit-transform 70ms ease-in;
  padding: 20px;
}

.categorie h5 {
  width: -webkit-fit-content;
  width: fit-content;
  width: -moz-fit-content;
  font-size: 1rem;
  margin-top: 10px;
}

.categorie:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* WORKING ON HOT ADS SECTION */
.hot-ads {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.hot-ads .video-text h6 {
  display: none;
}

.hot-ads .hot-promo-vid {
  display: block;
  max-height: 350px;
  background-size: cover;
  border-radius: 4px;
}

.hot-ads .video-text {
  color: #fff;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  width: 400px;
  width: -webkit-fit-content;
  width: fit-content;
  width: -moz-fit-content;
}

.hot-ads .video-text h4 {
  font-size: 1.875rem;
  margin-bottom: 20px;
}

.hot-ads .hot-promo-text {
  width: 50%;
  margin-top: 20px;
}

.hot-ads .hot-promo-text h5 {
  width: -webkit-fit-content;
  width: fit-content;
  width: -moz-fit-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 1rem;
  text-align: justify;
  margin-bottom: 15px;
}

.hot-ads .hot-promo-text .course-price,
.hot-ads .hot-promo-text .course-star,
.hot-ads .hot-promo-text .big-button {
  width: 65%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hot-ads .course-star {
  margin: 40px 0 10px 0;
}

.hot-ads .course-price {
  font-size: 1.25rem;
}

.hot-ads .big-button {
  margin-top: 10px;
  border: none;
  color: white;
  background-color: #d35266;
  border-radius: 10px;
  padding: 3px;
  -webkit-transition: background-color linear 300ms;
  transition: background-color linear 300ms;
}

.hot-ads .big-button:hover {
  background-color: #c02940;
}

.hot-promo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hot-promo-video-n-text {
  margin-top: 10px;
  overflow: hidden;
}

.hot-promo-features {
  width: -webkit-fit-content;
  width: fit-content;
  width: -moz-fit-content;
  font-size: 0.75rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hot-promo-features h6 + h6 {
  margin-left: 10px;
  border-left: 1px solid black;
  padding-left: 10px;
}

.hot-promo-features h6 {
  max-width: 154px;
}

/* TRENDING SECTION */
.trending,
.suggestion {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-course {
  padding-top: 40px;
}

.course-box {
  margin: 2%;
  max-width: 73%;
  min-width: 260px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-transition: background-color ease-in 100ms;
  transition: background-color ease-in 100ms;
}

.course-box .text {
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 45%;
}

.course-box img {
  height: 170px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.course-box img:hover {
  cursor: pointer;
}

.course-box:hover {
  background-color: #fafafa;
}

.course-title h4 {
  font-size: 1.125rem;
}

.course-star {
  display: block;
  font-size: 0.8125rem;
}

.course-star svg {
  fill: #F7BB56;
  height: 14px;
  width: 14px;
  margin-right: 2px;
  vertical-align: text-bottom;
}

.course-price {
  display: block;
}

.course-price strike {
  color: #888;
}

.dropdown {
  width: 90%;
}

.add-to-cart {
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  text-transform: capitalize;
  background-color: #d35266;
  color: white;
}

.add-to-cart:hover {
  background-color: #c02940;
}

/* WORKING ON FOOTER */
footer {
  margin-top: 30px;
  border-width: thin;
}

footer,
.footer-2nd-div {
  border-top: 1px solid rgba(128, 128, 128, 0.486);
  padding-top: 20px;
}

.footer-1st-div {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 50%;
  min-width: 250px;
}

.footer-logo h3 {
  color: #888888;
}

.footer-categories {
  max-width: 160px;
}

.footer-categories h5 {
  border-bottom: 1px solid #d35266;
  padding-bottom: 10px;
}

.footer-categories ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 200px;
  width: 100%;
  max-width: 49%;
  min-width: 150px;
}

.footer-categories ul li {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30px;
          flex: 1 1 30px;
}

.copy::after {
  content: "©";
  margin-left: 5px;
}

footer ul {
  padding: 0;
}

footer ul li {
  list-style-type: none;
  padding: 5px;
}

main > form .search {
  max-width: 600px;
}

@media (min-width: 480px) {
  :root {
    font-size: 13px;
  }
  header {
    font-size: 1.2rem;
  }
  .first-section-left h1 {
    font-size: 2.9rem;
  }
  .first-section-left h3 {
    font-size: 1.6rem;
  }
  .hot-ads .video-text h6 {
    display: block;
  }
}

@media (min-width: 768px) {
  .course-box {
    max-width: 40%;
  }
  .first-section-left .search-content {
    max-width: 500px;
  }
}

@media (min-width: 980px) {
  .course-box {
    max-width: 20%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 400px;
            flex: 1 1 400px;
  }
}

@media (min-width: 980px) {
  .hot-promo-text {
    margin-top: 20px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .hot-promo-text div {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: -webkit-fit-content;
    width: fit-content;
    width: -moz-fit-content;
  }
  .trending,
  .suggestion {
    -webkit-box-pack: normal !important;
        -ms-flex-pack: normal !important;
            justify-content: normal !important;
  }
}

@media (min-width: 1200px) {
  :root {
    font-size: 16px;
  }
  header {
    font-size: 1rem;
  }
  .lp-hide {
    display: none;
  }
  .course-box {
    margin: 5px;
  }
  .hot-promo {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .hot-ads .hot-promo-text {
    margin-top: 0;
    margin-left: 30px;
  }
  .hot-ads .hot-promo-text h5,
  .hot-ads .hot-promo-text .course-price,
  .hot-ads .hot-promo-text .course-star,
  .hot-ads .hot-promo-text .big-button {
    width: 100%;
  }
  .hot-promo-video-n-text {
    margin-top: -20px;
  }
}

.empty-a {
  height: 0;
}

.categorie-anchor {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 120px;
          flex: 1 1 120px;
  max-width: 120px;
}
/*# sourceMappingURL=styles.css.map */