@charset "UTF-8";
.categorie, .course-box {
  border: 1px solid rgba(0, 0, 0, 0.075);
}

.star {
  display: block;
}

.star::before {
  content: "★★★★★";
  color: #F7BB56;
  margin-right: 5px;
}

html,
body {
  height: 100%;
}

body {
  background-color: #f9fbfd;
}

header {
  height: 60px;
  padding: 10px 20px;
  background-color: #14152b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header a {
  color: #fff;
}

header a:hover {
  text-decoration: none;
  color: #fff;
}

header .logo {
  margin-left: 5px;
}

/* WORKING ON HEADER */
.logo a {
  height: 40px;
  background: url("../img/logo.png") no-repeat;
  display: block;
  width: 40px;
  background-size: contain;
}

.carrinho svg {
  height: 30px;
  fill: white;
}

/* WORKING ON FIRST SECTION */
.first-section {
  padding: 20px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9dc5c3;
  background-image: linear-gradient(315deg, #5e5c5c 0%, #7aadab 74%);
  height: 300px;
  border-radius: 10px;
  margin: 40px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  overflow: hidden;
}

.first-section .logo a {
  width: 200px;
  height: 200px;
  z-index: 1;
  position: relative;
  top: 107px;
  right: -101px;
}

.first-section .clouds {
  background: url("https://svgsilh.com/svg/1295100.svg") no-repeat;
  background-size: auto;
  display: block;
  position: relative;
  width: 300px;
  height: 200px;
  z-index: -1;
  background-size: contain;
  top: 1px;
  right: -67px;
  z-index: 0;
}

.first-section-left {
  width: 40%;
  margin-left: 70px;
}

/* WORKING ON SEARCH */
.search-content {
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.search {
  padding: 8px 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  width: 57%;
  -webkit-transition: width ease-in 400ms;
  transition: width ease-in 400ms;
}

.search::-webkit-input-placeholder {
  font-style: italic;
}

.search:-ms-input-placeholder {
  font-style: italic;
}

.search::-ms-input-placeholder {
  font-style: italic;
}

.search::placeholder {
  font-style: italic;
}

.search:focus {
  width: 80%;
}

.search-button {
  width: 50px;
  height: 100%;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-transition: background 200ms linear;
  transition: background 200ms linear;
}

.search-button:focus {
  outline: none;
}

.search-button svg {
  fill: #414141;
  height: 50%;
  display: block;
  margin: 0 auto;
}

.search-button:hover {
  background: #d7d8d8;
}

/* WORKING ON CATEGORIE */
.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categories a:hover:not(.show-all) {
  text-decoration: none;
}

section > h4,
section > .show-all {
  width: 50%;
  color: #383838;
  margin-bottom: 15px;
}

.show-all {
  text-align: end;
}

.categories a + a {
  margin-left: 15px;
}

.categorie {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  -webkit-transition: -webkit-transform 70ms ease-in;
  transition: -webkit-transform 70ms ease-in;
  transition: transform 70ms ease-in;
  transition: transform 70ms ease-in, -webkit-transform 70ms ease-in;
  padding: 20px;
}

.categorie h5 {
  width: -webkit-fit-content;
  width: fit-content;
  width: -moz-fit-content;
  font-size: 16px;
  margin-top: 10px;
}

.categorie:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.categorie-svg {
  width: 100%;
}

/* WORKING ON HOT ADS SECTION */
.hot-ads {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.hot-ads .hot-promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.hot-ads .hot-promo-img {
  display: block;
  height: 300px;
  background-size: cover;
  border-radius: 4px;
}

.hot-ads .video-text {
  color: #fff;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  width: 400px;
}

.hot-ads .video-text h4 {
  font-size: 30px;
  margin-bottom: 20px;
}

.hot-ads .hot-promo-text {
  margin-left: 30px;
  width: 50%;
}

.hot-ads .hot-promo-text h5 {
  font-size: 16px;
  text-align: justify;
  margin-bottom: 15px;
}

.hot-promo-features {
  font-size: 12px;
}

.hot-promo-features h6 + h6 {
  margin-left: 10px;
}

.hot-promo-features h6 {
  max-width: 154px;
}

/* TRENDING SECTION */
.trending {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section-course {
  padding-top: 40px;
}

.section-course .carousel-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.course-box {
  margin: 5px;
  max-width: 20%;
  min-width: 260px;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}

.course-box .text {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 45%;
}

.course-box img {
  height: 170px;
  border-radius: 10px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.course-box img:hover {
  cursor: pointer;
}

.course-title h4 {
  font-size: 18px;
}

.course-star {
  display: block;
  font-size: 13px;
}

.course-star svg {
  fill: #F7BB56;
  height: 14px;
  width: 14px;
  margin-right: 2px;
  vertical-align: text-bottom;
}

.course-price {
  display: block;
}

.course-price strike {
  color: grey;
}

.add-to-cart {
  border: none;
  border-radius: 4px;
  width: 100%;
  text-transform: capitalize;
}

.add-to-cart:hover {
  background: #d7d8d8;
}
/*# sourceMappingURL=styles.css.map */